/*BACKGROUND*/

body {
  background-image: url("./img/Dark Ocean.jpg");
  width: 100%;
  height: 90vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

/*TEXTFIELDS*/
#coins {
  color: #e0dfdc;
  letter-spacing: .1em;
}


/*HEADINGS*/

h1 {
  text-align: center;
  border-top: 2px outset #e0dfdc;
  border-bottom: 1px outset #e0dfdc;
  box-shadow: inset 0 -1px 0 0 #e0dfdc, inset 0 1px 0 0 #e0dfdc, 0 1px 0 0 #e0dfdc, 0 -1px 0 0 #046ca3;
  margin-bottom: 1px;
  color: #e0dfdc;
  letter-spacing: .1em;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}

h2 {
  text-align: center;
  color: #e0dfdc;
  letter-spacing: .1em;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}

/*SLOT_MACHINE_SPIN_BUTTON AND MACHINE*/
button.buttonspin {
  color: #e0dfdc;
  letter-spacing: .1em;
  width: 50%;
  background: red;
  font-size: 30px;
  padding: 1%;
  box-shadow: 0 10px 20px -8px red;
  border-radius: 10px;
}

/*WIN INDICATOR*/

.win {
    background-color: red;
}

div.machinecenter {
  background-image: url("./img/2019-04-28 6.25.29 PM.jpg");
  width: 100%;
  height: 90vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px outset #e0dfdc;
  border-bottom: 1px outset #e0dfdc;
  box-shadow: inset 0 -1px 0 0 #e0dfdc, inset 0 1px 0 0 #e0dfdc, 0 1px 0 0 #e0dfdc, 0 -1px 0 0 #046ca3;
}

td.opacity {
  opacity: 0.7;
}

td {
  width: 45%;
}

table#reelsborders {
  width: 50%;
  text-decoration: line-through;
}

/*CONTENT CENTRING AND PAYTABLE*/
div.center {
  text-align: center;
}

div#tableinfo {
  height: 200px;
  overflow-y: scroll;
}

th{
  color:red;
}

/*MOBILE_ADAPTING*/
@media only screen and (min-device-width : 320px) and (max-device-width : 812px) {
/*SLOTMACHINE*/
  td {
    width: 45%;
  }

  table#reelsborders {
    width: 80%;
  }

  div.machinecenter {
    background-image: url("./img/2019-04-28 6.25.29 PM.jpg");
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px outset #e0dfdc;
    border-bottom: 1px outset #e0dfdc;
    box-shadow: inset 0 -1px 0 0 #e0dfdc, inset 0 1px 0 0 #e0dfdc, 0 1px 0 0 #e0dfdc, 0 -1px 0 0 #046ca3;
  }
}

/*MOBILE_ADAPTING*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  /*SLOTMACHINE*/
  td {
    width: 40%;
  }

  table#reelsborders {
    width: 60%;
  }

  div.machinecenter {
    background-image: url("./img/2019-04-28 6.25.29 PM.jpg");
    width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px outset #e0dfdc;
    border-bottom: 1px outset #e0dfdc;
    box-shadow: inset 0 -1px 0 0 #e0dfdc, inset 0 1px 0 0 #e0dfdc, 0 1px 0 0 #e0dfdc, 0 -1px 0 0 #046ca3;
  }
}


/*RUN SLOT MACHINE IN A TEST MODE*/
button.buttontest{
  color: #e0dfdc;
  letter-spacing: .1em;
  width: 10%;
  background: red;
  font-size: 15px;
  padding: 1%;
  box-shadow: 0 10px 20px -8px red;
  border-radius: 10px;

}


/*Button for change mode Test-Random*/
.toggle-button-cover
{
    display: table-cell;
    position: relative;
    box-sizing: border-box;
]}


.button-cover, .knobs, .layer
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button
{
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 auto;
    overflow: hidden;
}

.button.r, .button.r .layer
{
    border-radius: 100px;
}

.button.b2
{
    border-radius: 2px;
}

.checkbox
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs
{
    z-index: 2;
}

.layer
{
    width: 100%;
    background-color: red;
    transition: 0.3s ease all;
    z-index: 1;
}

#button-1 .knobs:before
{
    content: 'Random';
    position: absolute;
    top: 10px;
    left: 4px;
    width: 20px;
    height: 10px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: blue;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .checkbox:checked + .knobs:before
{
    content: 'Test';
    left: 42px;
    background-color: #f44336;
}

#button-1 .checkbox:checked ~ .layer
{
    background-color: blue;
}

#button-1 .knobs, #button-1 .knobs:before, #button-1 .layer
{
    transition: 0.3s ease all;
}

/*END STYLING MODE SWITCHER*/
